
canvas {
  position: fixed;
  top: 0;
  left: 0;  
}
.widthimg {
  width:400px;
}
/*for animation*/
.sectionskills {
  opacity: 0;
filter: blur(3px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 100%;
}
.sectionacompli {
opacity: 0;
filter: blur(3px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 90%;
}
.mypresent {
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.bloc {
  white-space: nowrap; /* Empêche le texte de sauter à la ligne */
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
transition : all 1s;
}
/*for animation*/

:root {
--dark-bg: rgba(15, 15, 15, 0.95);
--spacing: 350px;
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
}
section.sectionskills {
  position: relative;
  grid-column: 1 / 7; /* 6/12 = a droite  */
  background: var(--dark-bg);
  border: 3px solid gray;
  margin-left: 5vw;
  font-size: 2rem;
  margin-bottom: var(--spacing);
}
section.sectionacompli {
  margin-left: 30vw;
  grid-column:  1/ 7; /* 6/12 = a droite  */
  background: var(--dark-bg);
  border: 3px solid gray;
  font-size: 2rem;
  margin-bottom: var(--spacing);
}
.sectionskills h2,h3,h5 {
  overflow: hidden; /* Ajout de l'overflow caché */
}
main {
width: 90%;
color: white;
z-index: 99;
position: absolute;
margin: 0px auto;
padding: 120px 0px;
display: grid;
grid-template-columns: repeat(12, 1fr);
}
h1, h2, h3, blockquote {
font-family: elevon, sans-serif;
font-weight: 600;
font-style: normal;
}
canvas {
position: fixed;
top: 0;
left: 0;
}
.my_resume {
display: flex;
}
.mypresent { 
padding: 2rem;
background: var(--dark-bg);
border: 3px solid gray;
font-size: 2.25rem;
line-height: 2.5;
}
  .mypresent p {
    margin: 0;
padding: 0;
word-wrap: break-word;
  }
  nav#myacomp , nav#myeduc , nav#myskils  , nav#myacomp , nav#mydownload  {
    width: 50px;
    display: flex;
    justify-content: center;
  }
  header {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .myqr {
    height: 20vh;
  }
    .myqr img {
      padding: 1rem;
      border: 2px solid #060606;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease-in-out;
    }
    .myqr:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }
  .sectionacompli h1,h2,h4 {
    margin: 0;
    padding: 0;
  }
  .hid h2,h3,h4 {
    margin: 0;
    padding: 0;
  }
  header nav {
    margin-top: 1vh;
    color: white;
    max-width: 100%;
  }
.acompli {
display: flex;
gap: 15px;
justify-content: center;
flex-direction: column;
align-items: center;
}
section.present {
  margin-left: 4vw;
  display: flex;
  gap:20vw;
  margin-top: -2vh;
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
  margin-bottom: var(--spacing);
  }
/* Appliquer un style à l'image */

#textcert {
display: flex;
justify-content: center;
font-size: 40px;
background: -webkit-linear-gradient(top, rgb(191, 0, 255), rgb(207, 207, 214));
}
.showme {
  color: blueviolet;
}
.fotrcert {
display: flex;
justify-content: center;
gap: 8%;
}
.fotrcert > div { /* > siginie les enfants direct du fotrcert */
  width: 25vw;
}
.fotrcert img {
  width: 90%;
}
footer.cert {
  display: flex;
  width: 100%;
  justify-content: center;
}
  .sectionacompli .coverweb img  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
    display: flex;
  }
  .sectionacompli .coverweb h2  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
  }
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 8;
  margin-bottom: var(--spacing);
}
blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}
.left {
  grid-column: 6 / 12;
  border: 3px solid gray;
}
section.dernierediv {
  display: flex;
  width: 10%;
  margin-top: 100px;
  height: 100%;
  align-items: flex-end;
  flex-direction: row-reverse;
  gap: 50px;
}
.mousg {
  display: flex;
  width: 100%;
}
.stylethanks {
  background-color:white;
  height: 10px;
  width: auto;
  display: inline;
  white-space: nowrap;
  font-size: 4rem;
  line-height: 1;
  font-family: elevon, sans-serif;
font-weight: 600;
font-style: normal;
}
blockquote .footer {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 1050px) { /* de 1050px et + il s'aplique ca*/
.present {
  white-space: nowrap; /* Appliquer nowrap uniquement lorsque l'écran dépasse 1300px */
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
}
}
@media screen and (max-width: 490px) {
  div#tag {
    position: relative;
    width: 10%;
    right: 70%;
    top:70%;
  }
  .hid h2,h3,h4,p {
    font-size: 1rem;
    overflow: hidden; /* Ajout de l'overflow caché */
  }
  .sectionacompli h1,h2,h4,p {
    font-size: 1rem;
    overflow: hidden; /* Ajout de l'overflow caché */
  }
  div#textcert {
    font-size: 10px;
  }
}
nav {
  flex: 1;
  text-align: center;
  min-width: 200px;
  margin: 5px;
}
.animation {
  position: relative;
  margin-right: 15vw;
}
div#tag {
  position: relative;
  left:60%;
}
/* Media Query pour les écrans de petite taille */
@media screen and (max-width: 1000px) {
  div#tag {
    position: relative;
    width: 10%;
    right: 70%;
    top:70%;
  }
  .myqr {
    display: none;
  }
  canvas#bg {
    width: 100vw;
    height: 100%;
  }
  section.sectionacompli {
    position: relative;
    grid-column: 1/6;
    top:30vh;
  }
  section.sectionskills {
    width: 200px;
  }
  .sectionskills h3,h5,h2  {
    font-size: 1rem;
  }
  .sectionacompli h2 {
    font-size: 1rem; /* Adjust font size as needed */
  }
  .bloc p {
    font-size: 1.3rem;
    max-width: 100%;
  }
  header {
    flex-direction: column; /* Passer à une disposition verticale pour les petits écrans */
    max-width: 40vh;
  }
  .mypresent h1,p  {
    font-size: 1rem;
    padding: 0;
  }
  blockquote p {
    font-size: 1rem;
    white-space: nowrap;
  } 
}