canvas {
  position: fixed;
  top: 0;
  left: 0;  
}
.hidden {
opacity: 0;
filter: blur(5px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 90%;
}
.educ {
opacity: 0;
filter: blur(3px); /*portrait*/
transform: translateX(-100%);
transition:  all 1s;
width: 90%;
}
.mypresent {
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.bloc {
  opacity: 0;
  filter: blur(3px); /*portrait*/
  transform: translateX(-100%);
  transition:  all 1s;
}
.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
transition : all 1s;
}
:root {
--dark-bg: rgba(15, 15, 15, 0.95);
--spacing: 350px;
font-family: brandon-grotesque, sans-serif;
font-weight: 400;
font-style: normal;
}
main {
width: 90%;
color: white;
z-index: 99;
position: absolute;
margin: 0px auto;
padding: 120px 0px;
display: grid;
grid-template-columns: repeat(12, 1fr);
}
h1, h2, h3, blockquote {
font-family: elevon, sans-serif;
font-weight: 700;
font-style: normal;
}
canvas {
position: fixed;
top: 0;
left: 0;
}
.my_resume {
display: flex;
}

@media screen and (min-width: 1050px) { /* de 1050px et + il s'aplique ca*/
.present {
  white-space: nowrap; /* Appliquer nowrap uniquement lorsque l'écran dépasse 1300px */
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
}
}

.mypresent { 
padding: 2rem;
background: var(--dark-bg);
border: 3px solid gray;
font-size: 2.25rem;
line-height: 2.5;
}
  .mypresent p {
    margin: 0;
padding: 0;
word-wrap: break-word;
  }
  header nav {
    color: white;
  }
  header {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .educ h1,h2,h4 {
    margin: 0;
    padding: 0;
  }
  .hidden h2,h3,h4 {
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 490px) {
    .hidden h2,h3,h4,p {
      font-size: 1rem;
      overflow: hidden; /* Ajout de l'overflow caché */
    }
    .educ h1,h2,h4,p {
      font-size: 1rem;
      overflow: hidden; /* Ajout de l'overflow caché */
    }
    div#textcert {
      font-size: 10px;
    }
  }
  nav {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin: 5px;
  }
  /* Media Query pour les écrans de petite taille */
  @media screen and (max-width: 700px) {
    .educ h2 {
      font-size: 1rem; /* Adjust font size as needed */
    }
    .bloc p {
      max-width: 100%;
      font-size: 1.3rem;
    }
    header {
      flex-direction: column; /* Passer à une disposition verticale pour les petits écrans */
      max-width: 40vh;
    }
    .mypresent h1,p  {
      font-size: 1rem;
      padding: 0;
    }
    blockquote p {
      font-size: 1rem;
      white-space: nowrap;
      max-width: 100%;
    } 
  }
  header nav {
    color: white;
    max-width: 100%;
  }
.acomp {
display: flex;
gap: 15px;
justify-content: center;
flex-direction: column;
}
/* hidden = professionel experience + skills */ 
section.hidden { /*tbda b colonne 2 / tkhlass b colonne 8 */
  grid-column: 2 / 8; /* 2/8 = a gauche  */
  border: 3px solid gray;
  font-size: 2rem;
  background: var(--dark-bg);
  margin-bottom: var(--spacing);
}
section.educ {
  grid-column: 6 / 12; /* 6/12 = a droite  */
  background: var(--dark-bg);
  border: 3px solid gray;
  font-size: 2rem;
  margin-bottom: var(--spacing);
  }
section.present {
  display: flex;
  gap:20vw;
  margin-top: 10vh;
  grid-column: 2 / 7; /*ybda f 2 ykhlass f 6*/
  margin-bottom: var(--spacing);
  }
/* Appliquer un style à l'image */

#textcert {
display: flex;
justify-content: center;
font-size: 40px;
background: -webkit-linear-gradient(top, rgb(191, 0, 255), rgb(207, 207, 214));
}
.showme {
  color: blueviolet;
}
.fotrcert {
display: flex;
gap: 8%;
}
.fotrcert > div { /* > siginie les enfants direct du fotrcert */
  width: 25vw;
}
.fotrcert img {
  width: 90%;
}
footer.cert {
  max-width: 100%;
}
  .educ .coverweb img  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
  }
  .educ .coverweb h2  {
    max-width: 100%; /* Make the images responsive */
    height: auto; /* Maintain aspect ratio */
  }
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}
blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}
.left {
  grid-column: 6 / 12;
  border: 3px solid gray;
}